
body{
    background-color: black;
}
#endButton{
    position: absolute;
    top: 95vh;
    left: 50vw;
    color: red;
}
#score{
    text-align: center;
    color:green;
}
#zombie1{
    position: absolute;
}
#zombie2{
    position: absolute;
}
    