#definition {
    position: relative;
    top: 45%;
    left: 20%;
    float: left;
    clear: both;
    overflow:auto;
}

#wordChosen {
    position: relative;
    border: 2px solid black;
    top: 30%;
    left: 20%;
    min-width: 25%;
    clear: left;
    float: left;
    overflow: auto;
}

#underlines {
    position: relative;
    border: 2px solid black;
    top: 30%;
    left: 20%;
    float: right;
    clear: both;
    overflow: auto;
}


#buttons {
    position: relative;
    top: 55%;
    left: 20%;
    padding: 5px 5px;
    font-size: 14px;
    text-align: center;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    display:inline-block;
    float: left;

}

#lives {
    position: relative;
    top: 20%;
    left: 20%;
    width: 10em;
    height: 4em;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    text-align: center;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border-radius: 15em;
    clear: both;
}

#score {
    position: relative;
    top: 10%;
    left: 20%;
    width: 10em;
    height: 4em;
    padding: 5px 5px;
    font-size: 14px;
    text-align: center;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15em;
    clear: both;

}
#restartButton {
    width: 10em;
    height: 4em;
    padding: 5px 10px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15em;
    position: relative;
    top: 65%;
    left: 20%;
    clear: both;
    float: left;
}
#restartButton:hover {background-color: #3e8e41}

#restartButton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#Title{
    height: auto;
    width: auto;
    font-size: 25px;

}