
body {
    /* background-image: url(images/anotherhangman.gif); */
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
}
#definition {
    position: relative;
    top: 1em;
    left: 5%;
    float: left;
    clear: both;
    overflow:auto;
    font-size: 1.5em;
}

#wordChosen {
    position: relative;
    border: 2px solid black;
    top: 1em;
    left: 5%;
    min-width: 5%;
    clear: left;
    float: left;
    overflow: auto;
}

#underlines {
    position: relative;
    border: 2px solid black;
    top: 1em;
    left: 5%;
    float: right;
    clear: both;
    overflow: auto;
}

#scoreboard {
    position: relative;
    border: 2px solid black;
    top: 1em;
    left: 5%;
    clear: left;
    float: left;
    overflow: auto;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
}


#buttons {
    position: relative;
    top: 1em;
    left: 5%;
    padding: 5px 5px;
    font-size: 1.4em;
    text-align: center;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    float: left;
    clear: both;

}

#lives {
    position: relative;
    top: 1em;
    left: 5%;
    width: 10em;
    height: 4em;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    text-align: center;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border-radius: 15em;
    clear: both;
}

#score {
    position: relative;
    top: 1em;
    left: 5%;
    width: 10em;
    height: 4em;
    padding: 5px 5px;
    font-size: 14px;
    text-align: center;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15em;
    clear: both;

}
#restartButton {
    width: 10em;
    height: 4em;
    padding: 5px 10px;
    font-size: 1em;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15em;
    position: relative;
    top: 2em;
    left: 5%;
    clear: both;
    float: left;
}
#restartButton:hover {background-color: #3e8e41}

#restartButton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#Title{
    position: relative;
    height: auto;
    width: auto;
    font-size: 2em;
    left: 5%;

}
#Amir{
    position:absolute;
    top:350px;
    left :200px;}