/*Hang Man Image CSS*/
#hangMan {
    width: 150px;
    height: 150px;
    position: absolute;
    left:50%;
    top:15%;
    margin:auto;
}

#definition {
    position: absolute;
    top: 45%;
    left: 20%;
}

#wordChosen {
    position: absolute;
    border: 2px solid black;
    top: 30%;
    left: 20%;
}

#underlines {
    position: absolute;
    border: 2px solid black;
    top: 30%;
    left: 20%;
}

#score {
    position: absolute;
    top: 10%;
    left: 20%;
    padding: 15px 25px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
}

#buttons {
    position: absolute;
    top: 55%;
    left: 20%;
    padding: 5px 5px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    display:inline-block;

}


#restartButton {
    width: 10em;
    height: 4em;
    padding: 5px 10px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15em;
    position: absolute;
    top: 65%;
    left: 20%;
}
#restartButton:hover {background-color: #3e8e41}

#restartButton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#lives {
    position: absolute;
    top: 20%;
    left: 20%;
    border: none;
    padding: 15px 25px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border-radius: 15px;

}
#Title{
    height: auto;
    width: auto;
    font-size: 25px;

}